<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>666379495540-ri1q5a5l2b3bt7dsuuuckljl4kedhpdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666379495540-ri1q5a5l2b3bt7dsuuuckljl4kedhpdb</string>
	<key>API_KEY</key>
	<string>AIzaSyA2QxUpqwrHgkOrqdUduYhgZHzKZhItD80</string>
	<key>GCM_SENDER_ID</key>
	<string>666379495540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tstreet.T-Street-App</string>
	<key>PROJECT_ID</key>
	<string>tstreetapp-skyler</string>
	<key>STORAGE_BUCKET</key>
	<string>tstreetapp-skyler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666379495540:ios:dd5aaed4162cea9e</string>
	<key>DATABASE_URL</key>
	<string>https://tstreetapp-skyler.firebaseio.com</string>
</dict>
</plist>